@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

.tag-title {
  color: white;
};

.sortable-chosen, .sortable-ghost, .sortable-drag {
  cursor: grab;
  opacity: 0.9;
  /* transform: scale(0.95) rotate(2deg); */
};

.modal-close, .delete, .breadcrumb, .pagination-previous,
.pagination-next,
.pagination-link,
.pagination-ellipsis, .tabs, .button, .file, .is-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.navbar-link:not(.is-arrowless)::after, .select:not(.is-multiple):not(.is-loading)::after {
  border: 3px solid transparent;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.625em;
  margin-top: -0.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: center;
  width: 0.625em; }

.breadcrumb:not(:last-child), .level:not(:last-child), .message:not(:last-child), .pagination:not(:last-child), .tabs:not(:last-child), .box:not(:last-child), .content:not(:last-child), .notification:not(:last-child), .progress:not(:last-child), .table:not(:last-child), .table-container:not(:last-child), .title:not(:last-child),
.subtitle:not(:last-child), .block:not(:last-child), .highlight:not(:last-child) {
  margin-bottom: 1.5rem; }

.modal-close, .delete {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(10, 10, 10, 0.2);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: none;
  position: relative;
  vertical-align: top;
  width: 20px; }
  .modal-close::before, .delete::before, .modal-close::after, .delete::after {
    background-color: white;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center; }
  .modal-close::before, .delete::before {
    height: 2px;
    width: 50%; }
  .modal-close::after, .delete::after {
    height: 50%;
    width: 2px; }
  .modal-close:hover, .delete:hover, .modal-close:focus, .delete:focus {
    background-color: rgba(10, 10, 10, 0.3); }
  .modal-close:active, .delete:active {
    background-color: rgba(10, 10, 10, 0.4); }
  .is-small.modal-close, .is-small.delete {
    height: 16px;
    max-height: 16px;
    max-width: 16px;
    min-height: 16px;
    min-width: 16px;
    width: 16px; }
  .is-medium.modal-close, .is-medium.delete {
    height: 24px;
    max-height: 24px;
    max-width: 24px;
    min-height: 24px;
    min-width: 24px;
    width: 24px; }
  .is-large.modal-close, .is-large.delete {
    height: 32px;
    max-height: 32px;
    max-width: 32px;
    min-height: 32px;
    min-width: 32px;
    width: 32px; }

.button.is-loading::after, .loader, .select.is-loading::after, .control.is-loading::after {
  animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em; }

.modal, .modal-background, .image.is-square img,
.image.is-square .has-ratio, .image.is-1by1 img,
.image.is-1by1 .has-ratio, .image.is-5by4 img,
.image.is-5by4 .has-ratio, .image.is-4by3 img,
.image.is-4by3 .has-ratio, .image.is-3by2 img,
.image.is-3by2 .has-ratio, .image.is-5by3 img,
.image.is-5by3 .has-ratio, .image.is-16by9 img,
.image.is-16by9 .has-ratio, .image.is-2by1 img,
.image.is-2by1 .has-ratio, .image.is-3by1 img,
.image.is-3by1 .has-ratio, .image.is-4by5 img,
.image.is-4by5 .has-ratio, .image.is-3by4 img,
.image.is-3by4 .has-ratio, .image.is-2by3 img,
.image.is-2by3 .has-ratio, .image.is-3by5 img,
.image.is-3by5 .has-ratio, .image.is-9by16 img,
.image.is-9by16 .has-ratio, .image.is-1by2 img,
.image.is-1by2 .has-ratio, .image.is-1by3 img,
.image.is-1by3 .has-ratio, .is-overlay, .hero-video {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.pagination-previous,
.pagination-next,
.pagination-link,
.pagination-ellipsis, .button, .input, .textarea, .select select, .file-cta,
.file-name {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top; }
  .pagination-previous:focus,
  .pagination-next:focus,
  .pagination-link:focus,
  .pagination-ellipsis:focus, .button:focus, .input:focus, .textarea:focus, .select select:focus, .file-cta:focus,
  .file-name:focus, .is-focused.pagination-previous,
  .is-focused.pagination-next,
  .is-focused.pagination-link,
  .is-focused.pagination-ellipsis, .is-focused.button, .is-focused.input, .is-focused.textarea, .select select.is-focused, .is-focused.file-cta,
  .is-focused.file-name, .pagination-previous:active,
  .pagination-next:active,
  .pagination-link:active,
  .pagination-ellipsis:active, .button:active, .input:active, .textarea:active, .select select:active, .file-cta:active,
  .file-name:active, .is-active.pagination-previous,
  .is-active.pagination-next,
  .is-active.pagination-link,
  .is-active.pagination-ellipsis, .is-active.button, .is-active.input, .is-active.textarea, .select select.is-active, .is-active.file-cta,
  .is-active.file-name {
    outline: none; }
  .pagination-previous[disabled],
  .pagination-next[disabled],
  .pagination-link[disabled],
  .pagination-ellipsis[disabled], .button[disabled], .input[disabled], .textarea[disabled], .select select[disabled], .file-cta[disabled],
  .file-name[disabled],
  fieldset[disabled] .pagination-previous,
  fieldset[disabled] .pagination-next,
  fieldset[disabled] .pagination-link,
  fieldset[disabled] .pagination-ellipsis,
  fieldset[disabled] .button,
  fieldset[disabled] .input,
  fieldset[disabled] .textarea,
  fieldset[disabled] .select select,
  .select fieldset[disabled] select,
  fieldset[disabled] .file-cta,
  fieldset[disabled] .file-name {
    cursor: not-allowed; }

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

img,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }
  td:not([align]),
  th:not([align]) {
    text-align: inherit; }

html {
  background-color: #85d4ee;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%; }

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block; }

body,
button,
input,
select,
textarea {
  font-family: "Roboto", sans-serif; }

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace; }

body {
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5; }

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none; }
  a strong {
    color: currentColor; }
  a:hover {
    color: #363636; }

code {
  background-color: whitesmoke;
  color: #f14668;
  font-size: 0.875em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em; }

hr {
  background-color: whitesmoke;
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0; }

img {
  height: auto;
  max-width: 100%; }

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline; }

small {
  font-size: 0.875em; }

span {
  font-style: inherit;
  font-weight: inherit; }

strong {
  color: #363636;
  font-weight: 700; }

fieldset {
  border: none; }

pre {
  -webkit-overflow-scrolling: touch;
  background-color: whitesmoke;
  color: #4a4a4a;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal; }
  pre code {
    background-color: transparent;
    color: currentColor;
    font-size: 1em;
    padding: 0; }

table td,
table th {
  vertical-align: top; }
  table td:not([align]),
  table th:not([align]) {
    text-align: inherit; }

table th {
  color: #363636; }

.card {
  background-color: white;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  max-width: 100%;
  position: relative; }

.card-header {
  background-color: transparent;
  align-items: stretch;
  box-shadow: 0 0.125em 0.25em rgba(10, 10, 10, 0.1);
  display: flex; }

.card-header-title {
  align-items: center;
  color: #363636;
  display: flex;
  flex-grow: 1;
  font-weight: 700;
  padding: 0.75rem 1rem; }
  .card-header-title.is-centered {
    justify-content: center; }

.card-header-icon {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.75rem 1rem; }

.card-image {
  display: block;
  position: relative; }

.card-content {
  background-color: transparent;
  padding: 1.5rem; }

.card-footer {
  background-color: transparent;
  border-top: 1px solid #ededed;
  align-items: stretch;
  display: flex; }

.card-footer-item {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  padding: 0.75rem; }
  .card-footer-item:not(:last-child) {
    border-right: 1px solid #ededed; }

.card .media:not(:last-child) {
  margin-bottom: 1.5rem; }

.dropdown {
  display: inline-flex;
  position: relative;
  vertical-align: top; }
  .dropdown.is-active .dropdown-menu, .dropdown.is-hoverable:hover .dropdown-menu {
    display: block; }
  .dropdown.is-right .dropdown-menu {
    left: auto;
    right: 0; }
  .dropdown.is-up .dropdown-menu {
    bottom: 100%;
    padding-bottom: 4px;
    padding-top: initial;
    top: auto; }

.dropdown-menu {
  display: none;
  left: 0;
  min-width: 12rem;
  padding-top: 4px;
  position: absolute;
  top: 100%;
  z-index: 20; }

.dropdown-content {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem; }

.dropdown-item {
  color: #4a4a4a;
  display: block;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0.375rem 1rem;
  position: relative; }

a.dropdown-item,
button.dropdown-item {
  padding-right: 3rem;
  text-align: inherit;
  white-space: nowrap;
  width: 100%; }
  a.dropdown-item:hover,
  button.dropdown-item:hover {
    background-color: whitesmoke;
    color: #0a0a0a; }
  a.dropdown-item.is-active,
  button.dropdown-item.is-active {
    background-color: #3273dc;
    color: #fff; }

.dropdown-divider {
  background-color: #ededed;
  border: none;
  display: block;
  height: 1px;
  margin: 0.5rem 0; }

.modal {
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 40; }
  .modal.is-active {
    display: flex; }

.modal-background {
  background-color: rgba(10, 10, 10, 0.86); }

.modal-content,
.modal-card {
  margin: 0 20px;
  max-height: calc(100vh - 160px);
  overflow: auto;
  position: relative;
  width: 100%; }
  @media screen and (min-width: 769px), print {
    .modal-content,
    .modal-card {
      margin: 0 auto;
      max-height: calc(100vh - 40px);
      width: 640px; } }

.modal-close {
  background: none;
  height: 40px;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 40px; }

.modal-card {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 40px);
  overflow: hidden;
  -ms-overflow-y: visible; }

.modal-card-head,
.modal-card-foot {
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 20px;
  position: relative; }

.modal-card-head {
  border-bottom: 1px solid #dbdbdb;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }

.modal-card-title {
  color: #363636;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 1.5rem;
  line-height: 1; }

.modal-card-foot {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: 1px solid #dbdbdb; }
  .modal-card-foot .button:not(:last-child) {
    margin-right: 0.5em; }

.modal-card-body {
  -webkit-overflow-scrolling: touch;
  background-color: white;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  padding: 20px; }

.panel {
  border-radius: 12px;
  margin: 0;
  box-shadow: 0;
  font-size: 1rem; }
  .panel:not(:last-child) {
    margin-bottom: 0rem; }
  .panel.is-white .panel-heading {
    background-color: white;
    color: #0a0a0a; }
  .panel.is-white .panel-tabs a.is-active {
    border-bottom-color: white; }
  .panel.is-white .panel-block.is-active .panel-icon {
    color: white; }
  .panel.is-black .panel-heading {
    background-color: #0a0a0a;
    color: white; }
  .panel.is-black .panel-tabs a.is-active {
    border-bottom-color: #0a0a0a; }
  .panel.is-black .panel-block.is-active .panel-icon {
    color: #0a0a0a; }
  .panel.is-light .panel-heading {
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.7); }
  .panel.is-light .panel-tabs a.is-active {
    border-bottom-color: whitesmoke; }
  .panel.is-light .panel-block.is-active .panel-icon {
    color: whitesmoke; }
  .panel.is-dark .panel-heading {
    background-color: #363636;
    color: #fff; }
  .panel.is-dark .panel-tabs a.is-active {
    border-bottom-color: #363636; }
  .panel.is-dark .panel-block.is-active .panel-icon {
    color: #363636; }
  .panel.is-primary .panel-heading {
    background-color: #00d1b2;
    color: #fff; }
  .panel.is-primary .panel-tabs a.is-active {
    border-bottom-color: #00d1b2; }
  .panel.is-primary .panel-block.is-active .panel-icon {
    color: #00d1b2; }
  .panel.is-link .panel-heading {
    background-color: #3273dc;
    color: #fff; }
  .panel.is-link .panel-tabs a.is-active {
    border-bottom-color: #3273dc; }
  .panel.is-link .panel-block.is-active .panel-icon {
    color: #3273dc; }
  .panel.is-info .panel-heading {
    background-color: #3298dc;
    color: #fff; }
  .panel.is-info .panel-tabs a.is-active {
    border-bottom-color: #3298dc; }
  .panel.is-info .panel-block.is-active .panel-icon {
    color: #3298dc; }
  .panel.is-success .panel-heading {
    background-color: #48c774;
    color: #fff; }
  .panel.is-success .panel-tabs a.is-active {
    border-bottom-color: #48c774; }
  .panel.is-success .panel-block.is-active .panel-icon {
    color: #48c774; }
  .panel.is-warning .panel-heading {
    background-color: #ffdd57;
    color: rgba(0, 0, 0, 0.7); }
  .panel.is-warning .panel-tabs a.is-active {
    border-bottom-color: #ffdd57; }
  .panel.is-warning .panel-block.is-active .panel-icon {
    color: #ffdd57; }
  .panel.is-danger .panel-heading {
    background-color: #f14668;
    color: #fff; }
  .panel.is-danger .panel-tabs a.is-active {
    border-bottom-color: #f14668; }
  .panel.is-danger .panel-block.is-active .panel-icon {
    color: #f14668; }

.panel-tabs:not(:last-child),
.panel-block:not(:last-child) {
  border-bottom: 1px solid #ededed; }

.panel-heading {
  background-color: #3b5998;
  border-radius: 10px 10px 0 0;
  border: none;
  color: #363636;
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.25;
  padding: 0.75em 1em; }

.panel-tabs {
  align-items: flex-end;
  display: flex;
  font-size: 0.875em;
  justify-content: center; }
  .panel-tabs a {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: -1px;
    padding: 0.5em; }
    .panel-tabs a.is-active {
      border-bottom-color: #4a4a4a;
      color: #363636; }

.panel-list a {
  color: #4a4a4a; }
  .panel-list a:hover {
    color: #3273dc; }

.panel-block {
  background-color: #31AFF5;
  border: none;
  align-items: center;
  color: #363636;
  display: flex;
  justify-content: flex-start;
  padding: 0.5em 0.75em; }
  .panel-block input[type="checkbox"] {
    margin-right: 0.75em; }
  .panel-block > .control {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%; }
  .panel-block.is-wrapped {
    flex-wrap: wrap; }
  .panel-block.is-active {
    border-left-color: #3273dc;
    color: #363636; }
    .panel-block.is-active .panel-icon {
      color: #3273dc; }
  .panel-block:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }

a.panel-block,
label.panel-block {
  cursor: pointer; }
  a.panel-block:hover,
  label.panel-block:hover {
    background-color: whitesmoke; }

.panel-icon {
  display: inline-block;
  font-size: 14px;
  height: 1em;
  line-height: 1em;
  text-align: center;
  vertical-align: top;
  width: 1em;
  color: #7a7a7a;
  margin-right: 0.75em; }
  .panel-icon .fa {
    font-size: inherit;
    line-height: inherit; }

.box {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem; }

a.box:hover, a.box:focus {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px #3273dc; }

a.box:active {
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2), 0 0 0 1px #3273dc; }

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  .buttons .button {
    margin-bottom: 0.5rem; }
    .buttons .button:not(:last-child):not(.is-fullwidth) {
      margin-right: 0.5rem; }
  .buttons:last-child {
    margin-bottom: -0.5rem; }
  .buttons:not(:last-child) {
    margin-bottom: 1rem; }
  .buttons.are-small .button:not(.is-normal):not(.is-medium):not(.is-large) {
    border-radius: 2px;
    font-size: 0.75rem; }
  .buttons.are-medium .button:not(.is-small):not(.is-normal):not(.is-large) {
    font-size: 1.25rem; }
  .buttons.are-large .button:not(.is-small):not(.is-normal):not(.is-medium) {
    font-size: 1.5rem; }
  .buttons.has-addons .button:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0; }
  .buttons.has-addons .button:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: -1px; }
  .buttons.has-addons .button:last-child {
    margin-right: 0; }
  .buttons.has-addons .button:hover, .buttons.has-addons .button.is-hovered {
    z-index: 2; }
  .buttons.has-addons .button:focus, .buttons.has-addons .button.is-focused, .buttons.has-addons .button:active, .buttons.has-addons .button.is-active, .buttons.has-addons .button.is-selected {
    z-index: 3; }
    .buttons.has-addons .button:focus:hover, .buttons.has-addons .button.is-focused:hover, .buttons.has-addons .button:active:hover, .buttons.has-addons .button.is-active:hover, .buttons.has-addons .button.is-selected:hover {
      z-index: 4; }
  .buttons.has-addons .button.is-expanded {
    flex-grow: 1;
    flex-shrink: 1; }
  .buttons.is-centered {
    justify-content: center; }
    .buttons.is-centered:not(.has-addons) .button:not(.is-fullwidth) {
      margin-left: 0.25rem;
      margin-right: 0.25rem; }
  .buttons.is-right {
    justify-content: flex-end; }
    .buttons.is-right:not(.has-addons) .button:not(.is-fullwidth) {
      margin-left: 0.25rem;
      margin-right: 0.25rem; }

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem; }
  .icon.is-small {
    height: 1rem;
    width: 1rem; }
  .icon.is-medium {
    height: 2rem;
    width: 2rem; }
  .icon.is-large {
    height: 3rem;
    width: 3rem; }

.tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  .tags .tag {
    margin-bottom: 0.5rem; }
    .tags .tag:not(:last-child) {
      margin-right: 0.5rem; }
  .tags:last-child {
    margin-bottom: -0.5rem; }
  .tags:not(:last-child) {
    margin-bottom: 1rem; }
  .tags.are-medium .tag:not(.is-normal):not(.is-large) {
    font-size: 1rem; }
  .tags.are-large .tag:not(.is-normal):not(.is-medium) {
    font-size: 1.25rem; }
  .tags.is-centered {
    justify-content: center; }
    .tags.is-centered .tag {
      margin-right: 0.25rem;
      margin-left: 0.25rem; }
  .tags.is-right {
    justify-content: flex-end; }
    .tags.is-right .tag:not(:first-child) {
      margin-left: 0.5rem; }
    .tags.is-right .tag:not(:last-child) {
      margin-right: 0; }
  .tags.has-addons .tag {
    margin-right: 0; }
    .tags.has-addons .tag:not(:first-child) {
      margin-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    .tags.has-addons .tag:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }

.tag:not(body) {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 4px;
  color: #4a4a4a;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap; }
  .tag:not(body) .delete {
    margin-left: 0.25rem;
    margin-right: -0.375rem; }
  .tag:not(body).is-white {
    background-color: white;
    color: #0a0a0a; }
  .tag:not(body).is-black {
    background-color: #0a0a0a;
    color: white; }
  .tag:not(body).is-light {
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.7); }
  .tag:not(body).is-dark {
    background-color: #363636;
    color: #fff; }
  .tag:not(body).is-primary {
    background-color: #00d1b2;
    color: #fff; }
    .tag:not(body).is-primary.is-light {
      background-color: #ebfffc;
      color: #00947e; }
  .tag:not(body).is-link {
    background-color: #3273dc;
    color: #fff; }
    .tag:not(body).is-link.is-light {
      background-color: #eef3fc;
      color: #2160c4; }
  .tag:not(body).is-info {
    background-color: #3298dc;
    color: #fff; }
    .tag:not(body).is-info.is-light {
      background-color: #eef6fc;
      color: #1d72aa; }
  .tag:not(body).is-success {
    background-color: #48c774;
    color: #fff; }
    .tag:not(body).is-success.is-light {
      background-color: #effaf3;
      color: #257942; }
  .tag:not(body).is-warning {
    background-color: #ffdd57;
    color: rgba(0, 0, 0, 0.7); }
    .tag:not(body).is-warning.is-light {
      background-color: #fffbeb;
      color: #947600; }
  .tag:not(body).is-danger {
    background-color: #f14668;
    color: #fff; }
    .tag:not(body).is-danger.is-light {
      background-color: #feecf0;
      color: #cc0f35; }
  .tag:not(body).is-normal {
    font-size: 0.75rem; }
  .tag:not(body).is-medium {
    font-size: 1rem; }
  .tag:not(body).is-large {
    font-size: 1.25rem; }
  .tag:not(body) .icon:first-child:not(:last-child) {
    margin-left: -0.375em;
    margin-right: 0.1875em; }
  .tag:not(body) .icon:last-child:not(:first-child) {
    margin-left: 0.1875em;
    margin-right: -0.375em; }
  .tag:not(body) .icon:first-child:last-child {
    margin-left: -0.375em;
    margin-right: -0.375em; }
  .tag:not(body).is-delete {
    margin-left: 1px;
    padding: 0;
    position: relative;
    width: 2em; }
    .tag:not(body).is-delete::before, .tag:not(body).is-delete::after {
      background-color: currentColor;
      content: "";
      display: block;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      transform-origin: center center; }
    .tag:not(body).is-delete::before {
      height: 1px;
      width: 50%; }
    .tag:not(body).is-delete::after {
      height: 50%;
      width: 1px; }
    .tag:not(body).is-delete:hover, .tag:not(body).is-delete:focus {
      background-color: #e8e8e8; }
    .tag:not(body).is-delete:active {
      background-color: #dbdbdb; }
  .tag:not(body).is-rounded {
    border-radius: 290486px; }

a.tag:hover {
  text-decoration: underline; }

.title,
.subtitle {
  word-break: break-word; }
  .title em,
  .title span,
  .subtitle em,
  .subtitle span {
    font-weight: inherit; }
  .title sub,
  .subtitle sub {
    font-size: 0.75em; }
  .title sup,
  .subtitle sup {
    font-size: 0.75em; }
  .title .tag,
  .subtitle .tag {
    vertical-align: middle; }

.title {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125; }
  .title strong {
    color: inherit;
    font-weight: inherit; }
  .title + .highlight {
    margin-top: -0.75rem; }
  .title:not(.is-spaced) + .subtitle {
    margin-top: -1.25rem; }
  .title.is-1 {
    font-size: 3rem; }

.heading {
  display: block;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: uppercase; }

.highlight {
  font-weight: 400;
  max-width: 100%;
  overflow: hidden;
  padding: 0; }
  .highlight pre {
    overflow: auto;
    max-width: 100%; }

.input, .textarea, .select select {
  background-color: white;
  border-color: #dbdbdb62;
  border-radius: 4px;
  color: #363636; }
  .input::-moz-placeholder, .textarea::-moz-placeholder, .select select::-moz-placeholder {
    color: rgba(54, 54, 54, 0.3); }
  .input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder, .select select::-webkit-input-placeholder {
    color: rgba(54, 54, 54, 0.3); }
  .input:-moz-placeholder, .textarea:-moz-placeholder, .select select:-moz-placeholder {
    color: rgba(54, 54, 54, 0.3); }
  .input:-ms-input-placeholder, .textarea:-ms-input-placeholder, .select select:-ms-input-placeholder {
    color: rgba(54, 54, 54, 0.3); }
  .input:hover, .textarea:hover, .select select:hover, .is-hovered.input, .is-hovered.textarea, .select select.is-hovered {
    border-color: #b5b5b5; }
  .input:focus, .textarea:focus, .select select:focus, .is-focused.input, .is-focused.textarea, .select select.is-focused, .input:active, .textarea:active, .select select:active, .is-active.input, .is-active.textarea, .select select.is-active {
    border-color: #3273dc;
    box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25); }
  .input[disabled], .textarea[disabled], .select select[disabled],
  fieldset[disabled] .input,
  fieldset[disabled] .textarea,
  fieldset[disabled] .select select,
  .select fieldset[disabled] select {
    background-color: whitesmoke;
    border-color: whitesmoke;
    box-shadow: none;
    color: #7a7a7a; }
    .input[disabled]::-moz-placeholder, .textarea[disabled]::-moz-placeholder, .select select[disabled]::-moz-placeholder,
    fieldset[disabled] .input::-moz-placeholder,
    fieldset[disabled] .textarea::-moz-placeholder,
    fieldset[disabled] .select select::-moz-placeholder,
    .select fieldset[disabled] select::-moz-placeholder {
      color: rgba(122, 122, 122, 0.3); }
    .input[disabled]::-webkit-input-placeholder, .textarea[disabled]::-webkit-input-placeholder, .select select[disabled]::-webkit-input-placeholder,
    fieldset[disabled] .input::-webkit-input-placeholder,
    fieldset[disabled] .textarea::-webkit-input-placeholder,
    fieldset[disabled] .select select::-webkit-input-placeholder,
    .select fieldset[disabled] select::-webkit-input-placeholder {
      color: rgba(122, 122, 122, 0.3); }
    .input[disabled]:-moz-placeholder, .textarea[disabled]:-moz-placeholder, .select select[disabled]:-moz-placeholder,
    fieldset[disabled] .input:-moz-placeholder,
    fieldset[disabled] .textarea:-moz-placeholder,
    fieldset[disabled] .select select:-moz-placeholder,
    .select fieldset[disabled] select:-moz-placeholder {
      color: rgba(122, 122, 122, 0.3); }
    .input[disabled]:-ms-input-placeholder, .textarea[disabled]:-ms-input-placeholder, .select select[disabled]:-ms-input-placeholder,
    fieldset[disabled] .input:-ms-input-placeholder,
    fieldset[disabled] .textarea:-ms-input-placeholder,
    fieldset[disabled] .select select:-ms-input-placeholder,
    .select fieldset[disabled] select:-ms-input-placeholder {
      color: rgba(122, 122, 122, 0.3); }

.input, .textarea {
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  max-width: 100%;
  width: 100%; }
  .input[readonly], .textarea[readonly] {
    box-shadow: none; }
  .is-white.input, .is-white.textarea {
    border-color: white; }
    .is-white.input:focus, .is-white.textarea:focus, .is-white.is-focused.input, .is-white.is-focused.textarea, .is-white.input:active, .is-white.textarea:active, .is-white.is-active.input, .is-white.is-active.textarea {
      box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25); }
  .is-black.input, .is-black.textarea {
    border-color: #0a0a0a; }
    .is-black.input:focus, .is-black.textarea:focus, .is-black.is-focused.input, .is-black.is-focused.textarea, .is-black.input:active, .is-black.textarea:active, .is-black.is-active.input, .is-black.is-active.textarea {
      box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25); }
  .is-light.input, .is-light.textarea {
    border-color: whitesmoke; }
    .is-light.input:focus, .is-light.textarea:focus, .is-light.is-focused.input, .is-light.is-focused.textarea, .is-light.input:active, .is-light.textarea:active, .is-light.is-active.input, .is-light.is-active.textarea {
      box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25); }
  .is-dark.input, .is-dark.textarea {
    border-color: #363636; }
    .is-dark.input:focus, .is-dark.textarea:focus, .is-dark.is-focused.input, .is-dark.is-focused.textarea, .is-dark.input:active, .is-dark.textarea:active, .is-dark.is-active.input, .is-dark.is-active.textarea {
      box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25); }
  .is-primary.input, .is-primary.textarea {
    border-color: #00d1b2; }
    .is-primary.input:focus, .is-primary.textarea:focus, .is-primary.is-focused.input, .is-primary.is-focused.textarea, .is-primary.input:active, .is-primary.textarea:active, .is-primary.is-active.input, .is-primary.is-active.textarea {
      box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25); }
  .is-link.input, .is-link.textarea {
    border-color: #3273dc; }
    .is-link.input:focus, .is-link.textarea:focus, .is-link.is-focused.input, .is-link.is-focused.textarea, .is-link.input:active, .is-link.textarea:active, .is-link.is-active.input, .is-link.is-active.textarea {
      box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25); }
  .is-info.input, .is-info.textarea {
    border-color: #3298dc; }
    .is-info.input:focus, .is-info.textarea:focus, .is-info.is-focused.input, .is-info.is-focused.textarea, .is-info.input:active, .is-info.textarea:active, .is-info.is-active.input, .is-info.is-active.textarea {
      box-shadow: 0 0 0 0.125em rgba(50, 152, 220, 0.25); }
  .is-success.input, .is-success.textarea {
    border-color: #48c774; }
    .is-success.input:focus, .is-success.textarea:focus, .is-success.is-focused.input, .is-success.is-focused.textarea, .is-success.input:active, .is-success.textarea:active, .is-success.is-active.input, .is-success.is-active.textarea {
      box-shadow: 0 0 0 0.125em rgba(72, 199, 116, 0.25); }
  .is-warning.input, .is-warning.textarea {
    border-color: #ffdd57; }
    .is-warning.input:focus, .is-warning.textarea:focus, .is-warning.is-focused.input, .is-warning.is-focused.textarea, .is-warning.input:active, .is-warning.textarea:active, .is-warning.is-active.input, .is-warning.is-active.textarea {
      box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25); }
  .is-danger.input, .is-danger.textarea {
    border-color: #f14668; }
    .is-danger.input:focus, .is-danger.textarea:focus, .is-danger.is-focused.input, .is-danger.is-focused.textarea, .is-danger.input:active, .is-danger.textarea:active, .is-danger.is-active.input, .is-danger.is-active.textarea {
      box-shadow: 0 0 0 0.125em rgba(241, 70, 104, 0.25); }
  .is-small.input, .is-small.textarea {
    border-radius: 2px;
    font-size: 0.75rem; }
  .is-medium.input, .is-medium.textarea {
    font-size: 1.25rem; }
  .is-large.input, .is-large.textarea {
    font-size: 1.5rem; }
  .is-fullwidth.input, .is-fullwidth.textarea {
    display: block;
    width: 100%; }
  .is-inline.input, .is-inline.textarea {
    display: inline;
    width: auto; }

.input.is-rounded {
  border-radius: 290486px;
  padding-left: calc(calc(0.75em - 1px) + 0.375em);
  padding-right: calc(calc(0.75em - 1px) + 0.375em); }

.input.is-static {
  background-color: transparent;
  border-color: black;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0; }

.checkbox, .radio {
  cursor: pointer;
  display: inline-block;
  line-height: 1.25;
  position: relative; }
  .checkbox input, .radio input {
    cursor: pointer; }
  .checkbox:hover, .radio:hover {
    color: #363636; }
  .checkbox[disabled], .radio[disabled],
  fieldset[disabled] .checkbox,
  fieldset[disabled] .radio {
    color: #7a7a7a;
    cursor: not-allowed; }

.radio + .radio {
  margin-left: 0.5em; }

.label {
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700; }
  .label:not(:last-child) {
    margin-bottom: 0.5em; }
  .label.is-small {
    font-size: 0.75rem; }
  .label.is-medium {
    font-size: 1.25rem; }
  .label.is-large {
    font-size: 1.5rem; }

.column {
  border-radius: 12px;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem; }

.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem; }
  .columns:last-child {
    margin-bottom: -0.75rem; }
  .columns:not(:last-child) {
    margin-bottom: calc(2rem - 0.75rem); }
  .columns.is-centered {
    justify-content: center; }
  .columns.is-gapless {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0; }
    .columns.is-gapless > .column {
      margin: 0;
      padding: 0 !important; }
    .columns.is-gapless:not(:last-child) {
      margin-bottom: 1.5rem; }
    .columns.is-gapless:last-child {
      margin-bottom: 0; }
  .columns.is-mobile {
    display: flex; }
  .columns.is-multiline {
    flex-wrap: wrap; }
  .columns.is-vcentered {
    align-items: center; }